
.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 30px;
    font-weight: normal;
    color: black
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: left; /*수평정렬*/
    line-height: 20px; /*수직정렬*/
    background-color: lightgray;
}


.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center; /*수평정렬*/
    line-height: 20px; /*수직정렬*/


    /* 콘텐츠 박스 스타일링 */
    background-color:aqua;
    width: 200px;
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    /* 0 1 */
    /* 3 2 */
}
.facebookbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:auto;
    padding-left: 20px;
    background-image: url("../img/f.PNG");
    background-repeat: no-repeat;
    
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: black;
}